.container {
  width: 80rem;
  margin: 0 auto;
  min-height: 80vh;
  padding: 10rem 0;

  display: flex;
  flex-direction: column;

  & >* {
    margin-bottom: 1.2rem;
  }
}

.logo {
  width: 30rem;
  height: 10rem;
  background-size: contain!important;
}
