.container {
  background-color: #ff8f00;
  padding: 1rem 2rem;
  display: flex;
  color: white;
  align-items: center;

  a {
    margin-right: 2rem;
  }
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.user {
  margin-left: auto;
}
