.container {
  background-color: white;
  padding: 2rem;
}

.block {
  padding: 2rem 0;
  border-bottom: solid 1px darkgray;
}

.title {
  display: block;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

.item {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.active {
  font-weight: bold;
}
