.block {
  position: relative;
  padding: 2rem 0;
  border-bottom: solid 1px #dedede;
  max-width: 60rem;
}

.title {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  cursor: pointer;

  svg {
    width: 3rem;
    height: 3rem;
  }
}

.edit {
  position: absolute;
  top: 2rem;
  right: 4rem;
  border-radius: .4rem;
  display: block;
  border: solid 1px darkgray;
  background-color: white;
  padding: 0.4rem;
  transition: all 100ms ease-in;

  &:hover {
    background-color: #dadada;
  }


  svg {
    width: 2rem;
    height: 2rem;
  }
}

.delete {
  composes: edit;
  right: 0rem;
}
