.container {
  position: relative;
  padding: 2px;

  :global {

    .note-editable * {
      max-width: 100%;
    }

    .note-toolbar {
    }

    .dropdown-menu {
      min-width: 30rem!important;
      padding: 1rem;

      li {
        margin-bottom: 1rem;
      }
    }
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  z-index: 5;
  color: #2D9CDB;

  img {
    height: 5rem;
  }
}
