.container {
  padding: 2px;

  :global {

    .note-editable * {
      max-width: 100%;
    }

    .note-toolbar {
    }

    .dropdown-menu {
      min-width: 30rem!important;
      padding: 1rem;

      li {
        margin-bottom: 1rem;
      }
    }
  }
}
