.link {
  display: inline-flex;
  align-items: center;
  //background-color: #f6f6f6;
  font-size: 1.6rem;
  //border: solid 1px darkgray;
  box-shadow: 0 1px 3px darkgray;
  height: 3rem;
  padding: 0 2rem;
}
