.container {
  height: 31rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 3rem;
  transition: all 200ms ease-in;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: rgba(65, 193, 255, 0.84);
  }
}

.plus {
  font-size: 10rem;
}